@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-header: "Arvo", serif;
  --font-body: "Roboto", sans-serif;
}

.dark-theme {
  --col-accent: hsl(350, 48%, 55%);
  --col-primary: hsl(300, 3%, 8%);
  --col-secondary: white;
}
.light-theme {
  --col-accent: hsl(350, 55%, 39%);
  --col-primary: white;
  --col-secondary: hsl(300, 3%, 8%);
}

html {
  font-family: var(--font-body);
  font-size: 62.5%;
  color: var(--col-secondary);
  background-color: var(--col-primary);
  transition: all 0.5s ease;
}

.App nav {
  background-color: var(--col-primary);
  padding: 0 15%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}

nav h1 {
  font-size: 2.8rem;
  /* font-family: var(--font-header); */
}

nav button {
  width: 8rem;
  height: 3rem;
  color: var(--col-primary);
  background-color: var(--col-secondary);
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.articles {
  padding: 5% 20%;
}

.articles .article {
  margin: 3rem 0;
}

.article h2 {
  font-size: 3rem;
  color: var(--col-accent);
  margin-bottom: 0.8rem;
}

.article .info span {
  font-size: 1.3rem;
  font-weight: 500;
  font-style: italic;
}

.article p {
  margin-top: 1.5rem;
  font-size: 1.8rem;
}
